# Main maintainers
*                       @ewjoachim @mgu


# Documentation
/docs/                  @ewjoachim @mgu @corbott
*.rst                   @ewjoachim @mgu @corbott
*.md                    @ewjoachim @mgu @corbott
