prune tests
prune docs

include LICENSE

exclude .editorconfig
exclude .readthedocs.yml
exclude CHANGELOG.rst
exclude CODE_OF_CONDUCT.rst
exclude CONTRIBUTING.rst
exclude pre-commit-hook
exclude requirements.txt
